@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("bm.xored.com") {
  
  body, div.opponent-2 {
    background-color: #909090;
    color: #eee;
  }
  
  div.opponent-1 {
    background-color: #eee;
    color: #444;
  }
  
  a:hover {
    color: #ff3333;
    fill: #ff3333;
  }
  
  .btn:hover {
    background-color: #ff3333;
    border-color: #ff3333;
  }
  
  input ~ nav {
    background-color: rgba(144,144,144,0.9);
  }

}
